# Django
**/migrations/
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# DB
*.sqlite3*

# Python
__pycache__
.venv*
/env*/
venv/
.cache
.mypy_cache/

# configs
.*.ini
*.ini

# settings
*core/settings/local.py

# Editors
*.sublime-workspace
*.sublime-project # unless most use Sublime
.vscode
*.code-workspace
.idea
*.swp
.*.sw?
*.sw?
*~

# Misc
.DS_Store
log
